/***********************************/
/********* STYLE INFO DATA *********/
/***********************************/

.horario {
  padding: 100px 0;
  background-color: #0d0d0d;

  .horario-info {

    h2 {
      font-size: 75px;
      color: #ffffff;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 50px;
    }

    .horario-txt {
      display: flex;
      justify-content: space-between;

        .txt {
          color: #ffffff;

          h4 {
            font-size: 18px;
            color: #a7a7a7;
            margin-bottom: 30px;
          }
          p {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 15px;
          }
        }
    }
  }
}
